<div class="backed_sec">
	<div class="container">
		<div class="backed_heading text-center">
          {{ section.settings.title }}
			
		</div>
		<div class="science_part"> 
          <div class="col-md-4 left_shap">
         {% for block in section.blocks %}
           {%- case block.type -%}
          {%- when 'text_block' -%}
			<ul>
					<li>
<!-- 					  <span><img src="{{ block.settings.image | img_url:'master'}}"></span> -->
                      <p>{{ block.settings.text}}<small>
                        <img src="{{ block.settings.image2 | img_url:'master'}}">
                        </small></p>
					</li>
				</ul>
          
          {%- endcase -%}
			 {%endfor%}</div>
          {% comment %}
<!--           	Check blocks array length - 
			Store the value in block_size variable -->
          {% endcomment %}
         
          	{% assign block_size = section.blocks | size %}
          {% assign block_size = block_size | plus: 0 %}
<!--            {{ block_size }} length of the block -->
          
          
          
        <div class="col-md-4 science-center" {% if block_size < 1 %} style="width: 100%;" {% endif %}>
           <figure><img src="{{ section.settings.middle-image | img_url:'master'}}"></figure>
          </div>
			<div class="col-md-4 right_shap">
              {% for block in section.blocks %}
           {%- case block.type -%}
          {%- when 'select' -%}
             <ul>
					<li>
						<p><small><img  src="{{ block.settings.image-right | img_url:'master'}}"></small>{{ block.settings.text-right}}</p>
						<span><img src="{{ block.settings.image-right2 | img_url:'master'}}"></span>
					</li>
				</ul>
}
			
          {%- endcase -%}


			 {%endfor%}
		</div> </div>
         <div class="brainvault-mobile-part">
          <figure><img class="mobile-sec" src= "{{ section.settings.mobile-image | img_url:'master'}}"></figure>	 
        </div> 
          
		<div class="stay_safe">
			<h3> {{ section.settings.footer-title }}</h3>
			<a href="{{ section.settings.button_link }}" style=" text-align:center !important; padding: 0 !important;"> {{ section.settings.button_label }}</a>
		</div>
	</div>
</div>



<style> 
   
.backed_sec {
    padding: 80px 0;
}
.backed_sec .container {
    width: 90%;
    display: block;
    margin: 0 auto;
    padding: 0 15px;
}
.backed_heading h3 {
    font-size: 60px;
    line-height: 64px;
    text-align: center;
    color: #052460;
    font-weight: 700;
    letter-spacing: 0;
    margin: 0 0 25px;

}
.backed_heading span {
    position: relative;
}
.backed_heading span:before {
    position: absolute;
    content: "";
    left: -12px;
    background: #FF5D68;
    width: 200px;
    height: 32px;
    bottom: 1px;
    z-index: -1;
}
.backed_heading p {
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    color: #052460;
    font-weight: 500;
    letter-spacing: 0;
    margin: 0 0 25px;
}
.science_part {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    width: 100%;

    align-items: center;
}
.science_part .col-md-4 {
    width: 33.33%;
}
.right_shap {
    text-align: right;
}
.science_part .col-md-4:last-child {
    text-align: right;
}
.science_part .col-md-4:last-child span {
    padding-left: 20px;
    padding-right: 0;
}
.science_part p {
    display: inline-block;
    vertical-align: top;
    font-weight: 500;
    font-size: 20px;
    line-height: 33px;
    color: #052460;

    letter-spacing: 0;
    position: relative;
}
.science_part span {
    display: inline-block;
    vertical-align: top;
}
.left_shap span {
    padding-right: 15px;
}
.science_part span img {
    width: 40px;
}
.right_shap span {
    padding-left: 15px;
}
.left_shap ul li p small {
    padding-left: 15px;
}
.right_shap ul li p small {
    padding-right: 15px;
}
.science_part li {
    padding: 25px 0;
}
.science_part p small {
    display: inline-block;
    vertical-align: top;
}
.science_part ul:first-child p {
    margin-top: 12px;
  
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.science_part ul:first-child p small {
    margin-top: 13px;
}
.science_part ul:nth-child(2) p {
    margin-top: 10px;
}
 .science_part ul:nth-child(2) p  img{
    height: 2px;
}
.science_part ul:nth-child(3) span, .science_part ul:nth-child(3) p, .science_part ul:nth-child(3) p small {
    vertical-align: bottom;
      vertical-align: bottom;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
  .science_part ul:nth-child(2) p {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.science_part li:nth-child(3) span {
    margin-bottom: -12px;
}
.science_part ul:nth-child(3) span {
    margin-bottom: -12px;
}
.science-center img {
    width: 100%;
}
.stay_safe {
    text-align: center;
    width: 100%;
}
.stay_safe h3 {
    font-weight: 700;
    font-size: 60px;
    line-height: 64px;
    text-align: center;
    color: #052460;

    letter-spacing: 0;
}
.stay_safe h3 span {
    display: block;
    color: #c01823;
    margin: 8px 0 0;
}
    .stay_safe a {
    display: inline-block;

    color: #fff;
    border-radius: 5px;
    min-width: 160px;
    min-height: 60px;
    line-height: 65px;
    text-transform: uppercase;

    font-weight: 700;
    position: relative;
    transition: .3s;
    padding: 0 25px;
}
  .stay_safe a:before {
    position: absolute;
    content: "";
    background-image: url(../assets/arrow.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 15px;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
}

  
  @media only screen and (max-width: 900px) {
    .brainvault-mobile-part {
    display: block;
    }
    .science_part {
      display: none;
    }
  .stay_safe {
    max-width: 98vw;
  } 
    .backed_sec .container {
      margin: auto;
      padding: 0 !important;
      width: 98%;
    }
  }
    @media only screen and (min-width: 900px) {
          .brainvault-mobile-part {
    display: none;
    }
  }
</style>
        

<style>
/*  This CSS has dynamic properties, please don't move from section file  */

  .stay_safe a {
  background: {{section.settings.button_bg}} !important;
  }
  .stay_safe a:hover {
  background: {{section.settings.button_bg_hover}} !important; 
}
  
 

</style>

{% schema %}
{
  "name":"Backed By Science",
  "class": "index-section",
  "settings": [
    {
      "type": "textarea",
      "id": "title",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "hi": "शीर्षक",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "zh-CN": "标题",
        "zh-TW": "標題"
      }
    },
{
       "type":"image_picker",
       "id": "middle-image",
       "label": "Middle Image"
   },
{
       "type":"image_picker",
       "id": "mobile-image",
       "label": "Mobile Image"
   },
  {
      "type": "textarea",
      "id": "footer-title",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "hi": "शीर्षक",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "zh-CN": "标题",
        "zh-TW": "標題"
      }
    },
   {
          "type": "text",
          "id": "button_label",
          "label": {
            "da": "Knaptekst",
            "de": "Button-Name",
            "en": "Button label",
            "es": "Etiqueta de botón",
            "fi": "Tekstipainike",
            "fr": "Texte du bouton",
            "hi": "बटन लेबल",
            "it": "Etichetta pulsante",
            "ja": "ボタンのラベル",
            "ko": "버튼 레이블",
            "nb": "Knappetikett",
            "nl": "Knoplabel",
            "pt-BR": "Etiqueta de botão",
            "pt-PT": "Etiqueta do botão",
            "sv": "Knappetikett",
            "th": "ป้ายกำกับปุ่ม",
            "zh-CN": "按钮标签",
            "zh-TW": "按鈕標籤"
          }
        },
  	{
          "type": "color",
          "id": "button_bg",
		  "label": "Button Background",
			"default": "#FAFAFA"
		},
  		{
          "type": "color",
          "id": "button_bg_hover",
		  "label": "Button Hover Background",
			"default": "#FAFAFA"
		},
        {
          "type": "url",
          "id": "button_link",
          "label": {
            "da": "Knaplink",
            "de": "Button-Link",
            "en": "Button link",
            "es": "Enlace de botón",
            "fi": "Painikelinkki",
            "fr": "Lien du bouton",
            "hi": "बटन लिंक",
            "it": "Link pulsante",
            "ja": "ボタンのリンク",
            "ko": "버튼 링크",
            "nb": "Kobling for knapp",
            "nl": "Knoplink",
            "pt-BR": "Link de botão",
            "pt-PT": "Ligação do botão",
            "sv": "Knapplänk",
            "th": "ลิงก์ปุ่ม",
            "zh-CN": "按钮链接",
            "zh-TW": "按鈕連結"
          }
        }
  ],
  "blocks": [
    {
      "type": "text_block",
      "name": "Row1",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": {
            "da": "Billede",
            "de": "Foto",
            "en": "Image",
            "es": "Imagen",
            "fi": "Kuva",
            "fr": "Image",
            "hi": "इमेज",
            "it": "Immagine",
            "ja": "画像",
            "ko": "이미지",
            "nb": "Bilde",
            "nl": "Afbeelding",
            "pt-BR": "Imagem",
            "pt-PT": "Imagem",
            "sv": "Bild",
            "th": "รูปภาพ",
            "zh-CN": "图片",
            "zh-TW": "圖片"
          }
        },
        {
          "type": "textarea",
          "id": "text",
          "label": {
            "da": "Overskrift",
            "de": "Text",
            "en": "Heading",
            "es": "Título",
            "fi": "Otsake",
            "fr": "En-tête",
            "hi": "शीर्षक",
            "it": "Heading",
            "ja": "見出し",
            "ko": "제목",
            "nb": "Overskrift",
            "nl": "Kop",
            "pt-BR": "Título",
            "pt-PT": "Título",
            "sv": "Rubrik",
            "th": "ส่วนหัว",
            "zh-CN": "标题",
            "zh-TW": "標題"
          },
          "default": {
            "da": "Tilføj en titel eller et slogan",
            "de": "Titel oder Text hinzufügen",
            "en": "Add a title or tagline",
            "es": "Agregar un título o eslogan",
            "fi": "Lisää otsikko tai iskulause",
            "fr": "Ajouter un titre ou un slogan",
            "hi": "एक शीर्षक या टैगलाइन जोड़ें",
            "it": "Aggiungi un titolo o una tagline",
            "ja": "タイトルまたはキャッチコピーを追加する",
            "ko": "제목 또는 슬로건 추가",
            "nb": "Legg til en tittel eller er slagord",
            "nl": "Voeg een titel of een slogan toe",
            "pt-BR": "Adicione um título ou slogan",
            "pt-PT": "Adicionar título ou slogan",
            "sv": "Lägg till en titel eller tagline",
            "th": "เพิ่มชื่อเรื่องหรือสโลแกน",
            "zh-CN": "添加标题或标语",
            "zh-TW": "新增標題或標語"
          }
        },
{
       "type":"image_picker",
       "id": "image2",
       "label": "image2"
   }
        
      ]
    },
 {
      "type": "image_picker",
      "name": "Image",
      "settings": [
        {
          "id": "middle-image",
          "type": "image_picker",
       		"label": "Middle Image"
        }
]
},
 {
      "type": "select",
      "name": "Row2",
      "settings": [
       {
          "type": "image_picker",
          "id": "image-right",
          "label": "Image Right"
        },
        {
          "type": "textarea",
          "id": "text-right",
          "label":"Text Right"
        },
{
       "type":"image_picker",
       "id": "image-right2",
       "label": "image right2"
   }
      ]
    }

  ],
 "presets": [
    {
      "name": "Backed By Science",
      "category": {
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "blocks": [
        {
          "type": "text_block"
        },
        {
          "type": "text_block"
        },
        {
          "type": "text_block"
        }
      ]
    }
  ]
}
{% endschema %}
